---
import DocsLayout from "@/layouts/DocsLayout.astro";
import { render } from "astro:content";
import { getCollection, type CollectionEntry } from "astro:content";

interface Props {
	element: CollectionEntry<"main">;
}

export async function getStaticPaths() {
	const contents = await getCollection("main");
	return contents.map((element: CollectionEntry<"main">) => ({
		params: { slug: element.data.permalink },
		props: { element },
	}));
}

const { element } = Astro.props;
const { Content } = await render(element);
---

<DocsLayout>
	<div>
		<h1>{element.data.title} Hello World</h1>
		<Content />
	</div>
</DocsLayout>
