---
import {
	HomeBentogrid,
	type BentoGridProps,
} from "@/components/elements/home-bentogrid";
import { HomeArticle } from "@/components/elements/home-article";
import { BackgroundAnimation } from "@/components/ui/background-animation";
import { Button } from "@/components/ui/button";
import {
	Card,
	CardContent,
	CardDescription,
	CardHeader,
	CardTitle,
} from "@/components/ui/card";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
import { Calendar, MapPin, NewspaperIcon, RocketIcon } from "lucide-react";
import config from "../../portfolio.config";
import { HomeCareer, type Job } from "../lib/components/elements/home-career";
import { HomeStudy, type Study } from "../lib/components/elements/home-study";

const articles = (await getCollection("article", (post) => {
	if (import.meta.env.DEV) {
		return true;
	}

	return post.data.publishedAt && new Date(post.data.publishedAt) <= new Date();
})).sort((a, b) => {
	return a.data.publishedAt && b.data.publishedAt ? new Date(b.data.publishedAt).getTime() - new Date(a.data.publishedAt).getTime() : 0;
});

const jobs: Job[] = [
	{
		company: "Kaliop",
		link: "https://www.kaliop.com/en",
		logo: "/images/company/kaliop.png",
		title: "Web development",
		type: "Apprenticeship",
		description: "As part of the Kaliop development team, I'm involved in various projects that focus on building web applications for clients.",
		date: "april 2024 - Present",
		location: "Montpellier, France",
		tags: ["NuxtJS", "NestJS", "Opensearch", "Contentful", "GraphQL", "Agile"],
	},
	{
		company: "Eiffage Energy Systemes",
		link: "https://www.eiffageenergiesystemes.com/en",
		logo: "/images/company/eiffage.png",
		title: "Web development",
		type: "Internship",
		description: "Within the web development department, I contributed to the development of the SmartCar-E web application for the Eiffage group.",
		date: "june 2023 - august 2023",
		location: "Thimister-Clermont, Belgium",
		tags: ["AngularJS", "ExpressJS", "MySQL", "Docker", "IoT"],
	},
	{
		company: "Lirmm",
		link: "https://www.lirmm.fr/lirmm-en",
		logo: "/images/company/lirmm.jpeg",
		title: "Research Lab",
		type: "Internship",
		description: "Within the TEXT team, I contributed to the research of new text processing methods (TALN) for the laboratory's researchers.",
		date: "may 2022 - july 2023",
		location: "Montpellier, France",
		tags: ["Python", "ML", "Oriented Graph", "Algorithm", "Research"],
	},
];

const studies: Study[] = [
	{
		title: "DevOps Engineer",
		field: "Computer Development and Systems Administration",
		school: "Polytech Montpellier",
		link: "https://www.polytech.umontpellier.fr/formation/cycle-ingenieur/devops/en-quelques-mots-do",
		date: "2023 - 2026",
		location: "Montpellier, France",
		description: "Currently enrolled in the DevOps Engineer program at Polytech Montpellier, I'm learning the skills needed to become a proficient DevOps engineer.",
		tags: ["DevOps", "Cloud", "CI/CD", "Automation"],
	},
	{
		title: "Computer Science Bachelor's",
		field: "General Computer Science",
		school: "Montpellier Faculty of Science",
		link: "https://informatique-fds.edu.umontpellier.fr/en/3331-2",
		date: "2020 - 2023",
		location: "Montpellier, France",
		description: "I completed my Bachelor's degree in Computer Science at the Montpellier Faculty of Science, where I gained a solid foundation in software development, theoretical computer science, networks, and databases.",
		tags: ["Software Development", "Theoretical Computer Science", "Networks", "Databases"],
	}
]

const bentogrid: BentoGridProps = {
	title: "What we offer",
	description: "Discover all features that we provide",
	items: [
		{
			title: "Performance",
			subtitle: "Lightning-fast builds",
			description:
				"Lorem ipsum dolor sit amet, consectetur adipiscing elit. In gravida justo et nulla efficitur, maximus egestas sem pellentesque.",
			image:
				"https://tailwindcss.com/plus-assets/img/component-images/bento-01-performance.png",
		},
		{
			title: "Releases",
			subtitle: "Push to deploy",
			description:
				"Lorem ipsum dolor sit amet, consectetur adipiscing elit. In gravida justo et nulla efficitur, maximus egestas sem pellentesque.",
			image:
				"https://tailwindcss.com/plus-assets/img/component-images/bento-01-releases.png",
		},
		{
			title: "Speed",
			subtitle: "Built for power users",
			description:
				"Lorem ipsum dolor sit amet, consectetur adipiscing elit. In gravida justo et nulla efficitur, maximus egestas sem pellentesque.",
			image:
				"https://tailwindcss.com/plus-assets/img/component-images/bento-01-speed.png",
		},
		{
			title: "Integrations",
			subtitle: "Connect your favorite tools",
			description:
				"Lorem ipsum dolor sit amet, consectetur adipiscing elit. In gravida justo et nulla efficitur, maximus egestas sem pellentesque.",
			image:
				"https://tailwindcss.com/plus-assets/img/component-images/bento-01-integrations.png",
		},
		{
			title: "Network",
			subtitle: "Globally distributed CDN",
			description:
				"Lorem ipsum dolor sit amet, consectetur adipiscing elit. In gravida justo et nulla efficitur, maximus egestas sem pellentesque.",
			image:
				"https://tailwindcss.com/plus-assets/img/component-images/bento-01-network.png",
		},
	],
};
---

<Layout>
	<div class="relative flex flex-col items-center justify-center">
		<div class="relative flex items-center justify-center min-h-[60vh]">
			<!-- <BackgroundAnimation client:only /> -->
			<div
				class="px-5 sm:px-0 relative z-10 flex flex-col items-center justify-center gap-6 sm:gap-4 text-center h-screen"
			>
				<h1 class="text-2xl sm:text-4xl font-bold">Hello, I'm <span class="text-primary">Baptiste Bronsin</span></h1>
				<h2 class="text-xl text-foreground font-bold">An apprentice DevOps Engineer ☁️</h2>
				<p class="text-lg text-foreground font-light max-w-xl">
					I'm Baptiste Bronsin, a passionate DevOps Engineer at Polytech Montpellier. I love building tools and automating processes to make development easier and more efficient.
				</p>

				<div class="flex flex-col justify-center md:flex-row gap-5 w-full">
					<Button asLink className="flex items-center gap-2 cursor-pointer" href='/projects'>
						<RocketIcon className="w-5 h-5" />
						See my projects
					</Button>

					<Button asLink variant="outline" className="flex items-center gap-2 cursor-pointer" href='/articles'>
						<NewspaperIcon className="w-5 h-5" />
						See my articles
					</Button>
				</div>
			</div>
		</div>

		<div
			class="max-w-screen-xl sm:w-4xl flex flex-col gap-8 px-5 md:px-0 py-16 pt-0"
			id="career"
		>
			<HomeCareer jobs={jobs} />
		</div>

		<div
			class="max-w-screen-xl sm:w-4xl flex flex-col gap-8 px-5 md:px-0 py-16"
			id="studies"
		>
			<HomeStudy studies={studies} />
		</div>

		{
			articles.length && (
				<div class="max-w-screen-xl mx-auto">
					<HomeArticle articles={articles} client:visible />
				</div>
			)
		}
	</div>
</Layout>
