---
import ProjectLayout from "@/layouts/ProjectLayout.astro";
import { getCollection } from "astro:content";
import ProjectList from "@/components/elements/project-list";

const projectsCollection = (await getCollection("project", (post) => {
	if (import.meta.env.DEV) {
		return true;
	}

	if (post.data.publishedAt && new Date(post.data.publishedAt) > new Date()) {
		return false;
	} else if (!post.data.isAvailable) {
		return false;
	}

	return true;
})).sort((a, b) => {
	return a.data.publishedAt && b.data.publishedAt ? new Date(b.data.publishedAt).getTime() - new Date(a.data.publishedAt).getTime() : 0;
});


---

<ProjectLayout>
	<div class="py-18 sm:py-24 sm:py-10">
		<div class="mx-auto max-w-7xl px-6 sm:px-0">
			<div class="mx-auto max-w-2xl lg:mx-0">
				<h2
					class="mt-2 text-3xl font-semibold tracking-tight text-gray-900 sm:text-3xl"
				>
					Baptiste projects
				</h2>
				<p
					class="text-lg sm:text-xl/8 text-muted-foreground text-pretty font-light mt-6"
				>
					In this section, I will share some projects I have worked on or am currently working on.
				</p>
			</div>
		</div>
	</div>

	<ProjectList projectsCollection={projectsCollection} client:load />
</ProjectLayout>