---
import Navbar from "@/components/elements/navbar";
import "../../assets/css/global.css";
import "../../assets/css/markdown.css";
import { BookIcon, HomeIcon } from "lucide-react";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro Basics</title>
	</head>
	<body>
		<div class="min-h-screen flex flex-col">
			<Navbar client:only />
			<div class="mx-auto px-4 sm:px-6 lg:px-8 max-w-7xl">
				<div class="flex flex-col lg:grid lg:grid-cols-10 lg:gap-8">
					{/* Sidebar */}
					<aside
						class="lg:col-span-2 pr-2 border-r border-gray-200 dark:border-gray-700"
					>
						<div
							class="sticky top-0 px-4 py-6 overflow-y-auto h-[calc(100vh-4rem)]"
						>
							<nav>
								<div class="space-y-3 mb-3 lg:mb-6 -mx-1 lg:mx-0">
									<a
										class="flex items-center gap-1.5 lg:gap-2 group text-primary font-semibold"
										href="/guide"
									>
										<div
											class="rounded-sm p-1.5 inline-flex ring-inset ring-1 bg-primary ring-primary text-white"
										>
											<BookIcon className="w-4 h-4" />
										</div>
										<span class="text-sm/6 relative">Guide</span>
									</a>

									<a
										class="flex items-center gap-1.5 lg:gap-2 group text-primary font-semibold"
										href="/guide"
									>
										<div
											class="rounded-sm p-1.5 inline-flex ring-inset ring-1 bg-gray-100/50 dark:bg-gray-800/50 ring-gray-300 dark:ring-gray-700 group-hover:bg-primary group-hover:ring-primary group-hover:text-background"
										>
											<BookIcon className="w-4 h-4" />
										</div>
										<span class="text-sm/6 relative">Configuration</span>
									</a>
								</div>
							</nav>
						</div>
					</aside>

					{/* Main content */}
					<main class="lg:col-span-8">
						<div class="flex flex-col lg:grid lg:grid-cols-10 lg:gap-8">
							<div class="lg:col-span-8 py-6 px-4">
								<slot />
							</div>
							{/* Table of contents */}
							<aside class="hidden xl:block w-64 border-l">
								<div
									class="sticky top-0 p-4 overflow-y-auto h-[calc(100vh-4rem)]"
								>
									<p class="font-medium mb-4">On this page</p>
									Summary
								</div>
							</aside>
						</div>
					</main>
				</div>
			</div>
		</div>
	</body>
</html>
