---
import Separator from "@/components/elements/separator";
import "../../assets/css/global.css";
import BaseLayout from "./BaseLayout.astro";
---

<BaseLayout>
	<div>
		<!-- <Separator /> -->
		<slot />
	</div>
</BaseLayout>
