namespace: portfolio

front:
  name: portfolio-front
  image: ghcr.io/baptistebronsin/portfolio:718dd1ad770ce1632380a1a4ee1d7c28e38707b6
  replicaCount: 1
  port: 8080

  servicePort: 8080
  containerPort: 8080

  ingress:
    enabled: true
    className: traefik
    annotations:
      cert-manager.io/cluster-issuer: letsencrypt-prod
      traefik.ingress.kubernetes.io/router.entrypoints: web,websecure
    hosts: baptistebronsin.be
    tls: true
    tlsSecret: portfolio-tls

